h3 {
  padding: 2%;
  text-align: center;
}
p.playerone{
  text-align: center;
  font-family: 'Tangerine',serif;
  font-size: 3em;
  text-shadow: 2px 2px 3px #C2E0FF;
}
p.playertwo{
  text-align: center;
  font-family: 'Tangerine',serif;
  font-size: 3em;
  text-shadow: 2px 2px 3px #FBBFBF;
}
p.points{
  text-align: center;
}
.playground{
  text-align: center;

}
.divplay{
  margin-left: 1%;
}
.roll{
  margin: 5%;
}
.mydice{
  font-size:6rem;
}
.points{
  text-align: center;
}
.bginfo{
  opacity: 0.9;
  transition: 2s ;
  box-shadow: 1px 1px 3px 1px;
  padding: 1%;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.bginfo:hover{
  transition: 2s;
  box-shadow: 1px 1px 3px 1px #7EEDF3;
}
.bgplayerone{
  box-shadow: 4px 6px 9px -3px #C2E0FF;
  padding: 1%;
  transition: 2s;
}
.bgplayerone:hover{
  box-shadow: 0 12px 18px -6px #95AFFF;
  padding: 1%;
  transition: 2s;
}
#playerone{
  color:#0036FF;
  font-size: 3em;
  text-align: center;
  font-family: 'Tangerine',serif;
}
.bgplayertwo{
  box-shadow: 4px 6px 9px -3px #FBBFBF;
  padding: 1%;
  transition: 2s;
}
.bgplayertwo:hover{
  box-shadow: 0 12px 18px -6px #FF9595;
  padding: 1%;
  transition: 2s;
}
#playertwo{
  color:#FF0000;
  font-size: 3em;
  text-align: center;
  font-family: 'Tangerine',serif;
}
.total{
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 3px #E6EAEC;
  color: #000000;
  font-family: 'Italianno';
}
#sumplayerone{
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 3px #E6EAEC;
  color: #52B400;
  font-family: 'Italianno';
  padding: 2%;
  box-shadow: 0 3px 4px -6px #E6EAEC;
}
#sumplayertwo{
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 3px #E6EAEC;
  color: #52B400;
  font-family: 'Italianno';
  padding: 2%;
  box-shadow: 0 3px 4px -6px #E6EAEC;
}
.points{
  font-family: 'Qwigley';
  font-size: 3em;
  text-shadow: 1px 1px 1px #FBBFBF;
  color: #9BC6C4;
  opacity: 0.9;
}
.roll{
  border: none;
  padding: 5%;
  font-family: 'Artifika';
  font-size: 1.5em;
  box-shadow: 1px 2px 1px 1px #C2E0FF;
  border-radius: 4px;
  background: #FFFFFFFF;
  transition: 2s;
}
.roll:hover{
  box-shadow: 1px 2px 3px 3px #95AFFF;
  transition: 2s;
}
.roll2{
  border: none;
  padding: 5%;
  font-family: 'Artifika';
  font-size: 1.5em;
  box-shadow: 1px 2px 1px 1px #FBBFBF;
  border-radius: 4px;
  background: #FFFFFFFF;
  transition: 2s;
}
.roll2:hover{
  box-shadow: 1px 2px 3px 3px #FF9595;
  transition: 2s;
}
.check{
  color: #84D3D2;
  border: none;
  padding: 5%;
  font-family: 'Artifika';
  font-size: 1.5em;
  box-shadow: 1px 1px 1px 1px #84D3D2;
  border-radius: 4px;
  background: #FFFFFFFF;
  transition: 1s;
  width: 100%;
}
.check:hover{
  color: #FFFFFFFF;
  background: #FA5F5F;
  transition: 1s;
}
.playground{
  font-family: 'Qwigley';
  font-size: 3em;
  text-shadow: 1px 1px 1px #FBBFBF;
  color: #9BC6C4;
  opacity: 0.9;
}
.divplay{
  opacity: 0.7;
  transition: 2s ;
  box-shadow: 1px 1px 3px 1px;
  padding: 1%;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.players{
  background-color: red;
}
span{
  font-size: 3em;
  font-family: 'Megrim';
  font-weight: bold;
}
#masoko{
  z-index: -8;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
}
